<router-outlet></router-outlet>
<div class="menu" >
  <img class="logo" mat-card-image src="assets/icon/icono.jpg">
  <ul *ngIf="menuVisible">
    <li><a href="#">Clients</a></li>
    <li><a href="#">Client look history</a></li>
    <li><a href="#">Emergency PIN configuration</a></li>
    <li><a href="#">Emergency PIN history</a></li>
  </ul>
</div>
<div class="container">
<form #formulario="ngForm">
  <div class="login-page">
    <button class="menu-button" mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-card class="tarjeta1">
      <mat-card-title style="text-align:center;">
      </mat-card-title>
      <mat-card-content>
        <form #formulario="ngForm">
          <button mat-raised-button color="primary" class="login-button" (click)="crearCliente()">
            New
            <mat-icon matSuffix>person_add</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="login-button" (click)="exportarCliente()">
            Export
            <mat-icon matSuffix>import_export</mat-icon>
          </button>
          <br />
          <br />
          <mat-form-field>
            <input matInput placeholder="Enter shared key" name="key" [(ngModel)]="sharedKey" #key="ngModel">
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button" (click)="buscarCliente()">
            <mat-icon matSuffix>search</mat-icon>
          </button>
          <br />
        </form>
      </mat-card-content>
    </mat-card>
  <mat-card>
    <mat-card-content class="tarjeta1">
      <button mat-raised-button color="primary" class="login-button" (click)="showForm()" *ngIf="!advancedSearch">
        Advanced Search
      </button>
      <div *ngIf="advancedSearch" class="tarjetaCliente">
        <form #formulario="ngForm">

          <mat-form-field>
              <input matInput placeholder="Name" name="nameClient"
                  [(ngModel)]="name" #nameClient="ngModel">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Phone" name="phoneClient"
                  [(ngModel)]="phone" #phoneClient="ngModel">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="E-mail" name="emailClient"
                  [(ngModel)]="email" #emailClient="ngModel">
          </mat-form-field>

          <mat-form-field appearance="fill">
              <mat-label>Start date</mat-label>
              <input matInput [matDatepicker]="startDate">
              <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="endDate">
              <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

          <br />
          <button mat-raised-button color="primary" class="login-button" (click)="busquedaAvanzada()">
            <mat-icon matSuffix>search</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="login-button" (click)="showForm()">
            <mat-icon matSuffix>cancel_presentation</mat-icon>
          </button>
      </form>
      </div>

    </mat-card-content>
  </mat-card>
  </div>
  <br />
  <div class="login-page">
    <mat-card class="mat-elevation-z12" class="tarjeta2">
      <mat-card-title style="text-align:center;">
        Clients
      </mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="matDataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="sharedKey" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> Shared Key</th>
            <td mat-cell *matCellDef="let element"> {{element.sharedKey}} </td>
          </ng-container>
          <ng-container matColumnDef="businessId" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> Business Id</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="email" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <ng-container matColumnDef="phone" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
          <ng-container matColumnDef="dataAdded" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> Data Added </th>
            <td mat-cell *matCellDef="let element"> {{element.addDate | date:'dd-MM-yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" focusable="false">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</form>
</div>
<!-- <> -->